:root {
    --light-blue-rgb: 135 206 250;
    --dark-blue-rgb: 70 130 180;
}

body {
    background-color: black;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes pan {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

#app {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#cloud-container {
    background: radial-gradient(rgb(var(--light-blue-rgb)), rgb(var(--dark-blue-rgb)));
    height: 100%;
    overflow: hidden;
    position: relative;
}

#cloud-pattern {
    background-image: url("../../public/nube.svg");
    background-size: 10%;
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0%;
    z-index: 1;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.10;
    animation: pan 180s linear infinite;
    will-change: background-position;
}

#cloud-gradient-overlay {
    background: radial-gradient(circle, transparent 75%, rgb(var(--dark-gold-rgb)));
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 2;
}
