.menu{
   display: flex;
   flex-direction: column;
}

.menu h1{
    align-self: center;
}

button.button-admin{
    padding: 5px;
    margin: 5px;
    color: inherit;
    font: inherit;
    cursor: pointer;
    width: 200px;
    text-align: left;
    align-self: center;
    text-align: center;
}
