nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
}

nav h1 {
    font-size: 18px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 10px;
}

nav button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

nav button:hover {
    background-color: #0056b3;
}